.button {
    margin: 20px 0;
}

.result {
    display: none;
}

.body {
    padding-left: 20px;
}

.progress {
    max-width: 400px;
    margin-bottom: 0 !important;
    margin-right: 20px;
}

.align {
    display: flex;
    align-items: center;
}

.info {
    margin-top: 35px;
    display: none;
}